body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #002355;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-link {
    margin-right: 70px;
}

.home-link img {
    height: 30px;
    width: auto;
    margin-right:20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
}

.logo img {
    height: 46px;
    width: auto;
}
.main {
    padding: 20px;
}

.turfs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.turf-item {
    border: 1px solid #ddd;
    border-radius: 16px;
    margin: 100px;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
}

.turf-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.turf-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.turf-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
