* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}
.nav-bar {
    background-color: #002355;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.home-link {
    margin-right: 70px;
}

.home-link img {
    height: 60px;
    width: auto;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
}
.logo img {
    height: 46px;
    width: auto;
    }

.container {
    width: 50%;
    margin: auto;
    padding: 30px;
}


.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}
.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #002355;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.button a {
        color: inherit;
        text-decoration: none;
    }

    .button a:hover {
        text-decoration: none;
    }
.image{
    width: 100%;
    max-width: 100%;
    display: block;
    margin-top: 20px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
.footer {
    text-align: center; /* changed from center to left */
    background-color: #002355;
    color: white;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%; /* added */
    left: 0; /* added */
}
.footer p {
    font-size: small;

}