<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turfind.com</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminhome.css' %}">
</head>
<body>
<nav class="nav-bar">
    <div class="logo">
      <img src="{% static 'images/turfind.jpg' %}" alt="Logo" sizes="32x32" type="image/png">
    </div>
    <div class="logout-button">
      <a href="{% url 'logout' %}"><img src="{% static 'images/exit.png' %}" alt="Logout"></a>
    </div>
    <div class="nav-bar-top">
      <div class="card-wrapper">
        <div class="card-container">
        <div class="card">
          <h2>Users <img src="{% static 'images/userlogo.png' %}"></h2>
            <h1> {{ user_count }} </h1>
            <p><img src="{% static 'images/refresh.jpg' %}">Just update</p>
        </div>
        <div class="card">
          <h2>Turf <img src="{% static 'images/turflogo.png' %}"></h2>
            <h1> {{ turf_count }} </h1>
          <p><img src="{% static 'images/refresh.jpg' %}">Just update</p>
        </div>
        <div class="card">
          <h2> Booking <img src="{% static 'images/bookinglogo.png' %}"></h2>
            <h1> {{ booking_count }} </h1>
          <p><img src="{% static 'images/refresh.jpg' %}">Just update</p>
        </div>
        <div class="card">
          <h2>Owners <img src="{% static 'images/ownerlogo.png' %}"></h2>
            <h1> {{ owner_count }} </h1>
          <p><img src="{% static 'images/refresh.jpg' %}">Just update</p>
        </div>
      </div>
    </div>
</nav>
<br>
<main>
  <div class="tables-container">
    <section class="table-container booking-container">
      <h2>Booking List</h2>
      <table class="booking-table">
        <thead>
          <tr>
            <th>Booked User</th>
            <th>Turf Name</th>
            <th>Booking ID</th>
            <th>Payment Status</th>
            <th>Booking Date</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <td>{{ booking.login_id.username }}</td>
            <td>{{ booking.turf.turf_name }}</td>
            <td>{{ booking.id }}</td>
            <td>{{ booking.payment_status }}</td>
            <td>{{ booking.book_datetime }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No bookings found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination-container">
      <div class="pagination">
        <a href="?bookings_page=1">&bull;</a>
        {% for n in bookings.paginator.page_range %}
          {% if n == bookings.number %}
            <a href="?bookings_page={{ n }}" class="active">{{ n }}</a>
          {% else %}
            <a href="?bookings_page={{ n }}">{{ n }}</a>
          {% endif %}
        {% endfor %}
        <a href="?bookings_page={{ bookings.paginator.num_pages }}">&bull;</a>
      </div>
    </section>

    <section class="table-container turf-container">
      <h2>Turf List</h2>
      <table class="turf-table">
        <thead>
          <tr>
            <th>Turf Name</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for turf in turfs %}
          <tr>
            <td><a href="{% url 'adminview' id=turf.id %}">{{ turf.turf_name }}</a></td>
            <td><a href="{% url 'adminview' id=turf.id %}">{{ turf.location }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<div class="pagination-container">
<div class="pagination">
  <a href="?turfs_page=1">&bull;</a>
  {% for n in turfs.paginator.page_range %}
    {% if n == turfs.number %}
      <a href="?turfs_page={{ n }}" class="active">{{ n }}</a>
    {% else %}
      <a href="?turfs_page={{ n }}">{{ n }}</a>
    {% endif %}
  {% endfor %}
  <a href="?turfs_page={{ turfs.paginator.num_pages }}">&bull;</a>
</div>


</body>
</html>
