<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <img src="{% static 'images/turfind.jpg' %}" alt="Logo" sizes="32x32" type="image/png">
        </div>
        <a href="/" class="home-link">
            <img src="{% static 'images/back.png' %}" alt="Home">
        </a>
    </nav>
    <div class="main-content">
        <div class="login-container">
            <form action="login" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <br>
            <p class="login-prompt">Don't have an account? <a href="reguser">Sign up</a></p>
        </div>
    </div>
    <footer class="footer">
        <p>All rights reserved. Copyright (2020 - 2024) - Turfind.com™</p>
    </footer>
</body>
</html>
