<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turfind.com</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/myturfpage.css' %}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="{% static 'images/turfind.jpg' %}" alt="Logo">
            </div>
            <div class="dropdown">
                <button><b>Menu</b></button>
                <div class="dropdown-content">
                    <a href="{% url 'ownerprofile' %}"><b>Profile</b></a>
                    <a href="{% url 'addturf' %}"><b>Addturf</b></a>
                    <a href="{% url 'logout' %}"><b>Logout</b></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <form action="{% url 'ownersearch' %}" method="GET">
            {% csrf_token %}
            <div class="search-bar-container">
                <div class="search-bar">
                    <img src="{% static 'images/5654592.png' %}" alt="Turf 1">
                    <input type="text" name="turf_name" placeholder="Search...">
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>

        <h1 class="explore-heading">TURF LIST</h1>
        <section class="content">
            {% for turf in turfs %}
            <a href="{% url 'ownerview' id=turf.id %}">
                <div class="turf-card">
                    <img src="{{ turf.image.url }}" alt="{{ turf.name }}">
                    <div class="turf-info">
                        <h3>{{ turf.turf_name }}</h3>
                        <p>{{ turf.details }}</p>
                        <p class="price">${{ turf.price }} per hour</p>
                        <a href="{% url 'editurf' id=turf.id %}" class="edit-button" style="text-decoration: none;"><b>Edit</b></a>
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <p>All rights reserved. Copyright (2020 - 2024) - Turfind.com</p>
    </footer>
</body>
</html>