<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
       {% load static %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
</head>
<body>
    <form action="successpay" method="post">
        {% csrf_token %}
    <div class="container">
        <div class="content">
            <h1>Payment Successful!</h1>
            <br> <br>
            <p>Your payment for the turf booking at " <strong> {{ turf.turf_name }} </strong>  " has been processed successfully.</p>
            <br> <br>
            <a href="{% url 'rehome' %}" class="back-home-button">Back to Home</a>
        </div>
    </div>
    </form>
</body>
</html>
