<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/prsnlinfo.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <form action="profile" method="post">
        {% csrf_token %}
        <nav class="nav-bar">
            <div class="logo">
                <h1>Turfind.com</h1>
            </div>
            <a href="rehome" class="home-link">
                <img src="{% static 'images/homelogo.png' %}" alt="Home">
            </a>
        </nav>

        <div class="container">
            <h2>Personal details</h2>
            <div class="item">
                <span class="label">User name</span>
                <input type="text" class="value" name="user_name" value="{{ data.user_name }}">
            </div>
            <div class="item">
                <span class="label">Email address</span>
                <input type="email" class="value" name="email" value="{{ data.email }}">
            </div>
            <div class="item">
                <span class="label">Phone number</span>
                <input type="tel" class="value" name="phone_no" value="{{ data.phone_no }}">
            </div>
            <div class="item">
                <span class="label">Date of birth</span>
                <input type="date" class="value" name="date_of_birth" value="{{ data.date_of_birth }}">
            </div>
            <div class="item">
                <span class="label">Gender</span>
                <select class="value" name="gender">
                    <option value="male" {% if data.gender == 'male' %}selected{% endif %}>Male</option>
                    <option value="female" {% if data.gender == 'female' %}selected{% endif %}>Female</option>
                </select>
            </div>

            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>
    <footer class="footer">
        <p>All rights reserved. Copyright (2020 - 2024) - Turfind.com™</p>
    </footer>
</body>
</html>
